do not use typescript
do not use tailwind css
when creating css, use nextjs css modules and make sure it's mobile-responsive
make any new css with netflix-style theming and hot pink shades instead of netflix red
do not implement features that will leak any sensitive app information or credentials 
if creating ai prompts, save all the prompts on the server-side
for authentication, i am using supabase
for databases, i am using aws dynamodb
add new database fields with camelCase
for file storage, i am using aws s3
make the code as modular and scalable as possible, create re-usable functions and components where approriate and in anticipation of future changes